<footer role="contentinfo" class="footer">

  <div class="pull-right">
    <script data-gratipay-username="ucoin" src="//grtp.co/v1.js" async="async"></script>
  </div>

  <p><small>© {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small><a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium Theme</a> by <a href="http://twitter.com/oswaldoacauan" target="_blank">@oswaldoacauan</a></small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
